@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 3%;
    --foreground: 0 0% 98%;
    --card: 0 0% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 10%;
    --popover-foreground: 0 0% 98%;
    --muted: 0 0% 30%;
    --muted-foreground: 0 0% 70%;
    --accent: 220 90% 56%;
    --accent-foreground: 0 0% 3%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 20%;
    --input: 0 0% 15%;
    --primary: 220 90% 56%;
    --primary-foreground: 0 0% 3%;
    --secondary: 220 14% 96%;
    --secondary-foreground: 0 0% 3%;
    --ring: 220 90% 56%;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
